
*{
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #3d032f;

}

/* Style the header */
.header {
  background-color: #3d032f;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(237, 174, 222);
  font-family:cursive;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  border: solid rgb(237, 174, 222) 2px;
  background-color: #3d032f;
  border-bottom: 0px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

/* Style the footer */
.footer {
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}