* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:darkblue;
    color: white;
}

.header {
    padding: 20px;
    padding-bottom: 2px;
    text-align: center;
    background-color: darkblue;
    color: white;
    font-size: 40px;
    }
h1 {
    font-family: monospace;
    font-weight: bolder;
    background-color: darkblue;
    color: white;
}

h2 {
    font-weight: lighter;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 10px;
}

section {
    padding: 30px;
    width: 420px;
}